:root {
    --p1: #000311;
    --p2: #EEEEEE;
    --p3: #00A3AA;
}

* {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: .5px;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    background-color: var(--p1);
}

body > * {
    flex-shrink: 0;
}
  

h1, h5, h6 {
    color: var(--p2);
}


/* [ Menu de Navegação ] */
.offcanvas { 
    background-color: var(--p1);  
}

.offcanvas-header, .offcanvas-body a{
    color: var(--p2);
    padding: 20px 15px;
}

/* Telas Maiores */
@media screen and (min-width: 576px) {
    .offcanvas-body a {
        padding: 10px;
        margin: 0 .5%;
    }
}

.offcanvas-body a:hover, .offcanvas-body a.active {
    background-color: var(--p2);
    font-weight: bold;
}

.navbar-toggler-icon, .btn-close {
    background-image: none;
    border: none;
    color: var(--p2);
}

/* [ Inicio ] */
header img {
    box-shadow: 0px 0px 50px 10px var(--p3);
    width: 70%;
    height: auto;
}

header p {
    color: var(--p2);
}

@media screen and (max-width: 600px) {
    header img {
        width: 50%;
    }
}

/* [ Contéudo ] */
main {
    width: 100%;
    flex-grow: 1;
    background-color: var(--p2);
}
/* { Conhecimento } */
main h4, h5 {
    color: var(--p1);
    letter-spacing: 2px;
    text-transform: uppercase;
}

main h5 {
    opacity: 70%;
    padding-top: 15px;
}